.hero__section {
  height: 740px;
  max-width: 1280px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;


@media screen and (max-width: 1024px) {
  background-image: url(../images/hero_hotel_phone.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
  (min-resolution: 192dpi) and (max-width: 1024px),
  (min-resolution: 2dppx) and (max-width: 1024px) {
  background-image: url(../images/hero_hotel_phone_2x.jpg);
  }

  @media screen and (min-width: 1024px) {
  background-image: url(../images/hero_hotel_tablet.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
  (min-resolution: 192dpi) and (min-width: 1024px),
  (min-resolution: 2dppx) and (min-width: 1024px) {
  background-image: url(../images/hero_hotel_tablet_2x.jpg);
  }


@media screen and (min-width: 1280px) {
  padding: 200px 0 200px 0;
  background-image: url(../images/hero_hotel_desctop.jpg);
}
  
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  background-image: url(../images/hero_hotel_desctop_2x.jpg);
}
}

.hero__container {
  min-width: 320px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.cleaning__ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.label {
  width: 414x;
  height: 143px;
  background-color: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
}

.hero__titel {
  margin: 0;
  padding: 484px 0 0 0;
  font-family: 'Times New Roman';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.143;
  letter-spacing: 0.05em;

  color: #FFFFFF;
}


.hero__room {
  margin: 0;
  padding: 14px 0 0 0; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.02em;

  color: #FFFFFF;


}

.hero__button-position {
  
  top: 800px
  // bottom: 30px;
}

.hero__button-price {
  position: absolute;
  left: 110px;
  bottom: 30px;
  padding: 18px auto;
  width: 236px;
  height: 48px;
  color: #F3C653;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.4);;
  border: 1px solid #ffffff;
  border-radius: 25px;

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.hero__social {
  margin: 17px 0 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-decoration: none;
  border: none;
  padding: 0;
}
.social__icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: rgba(243, 198, 83, 0.7);
}

.hero__address {
  position: absolute;
  right: 15px;
  top: 64px;
  display: flex;
  align-items: center;
  width: 210px;
  border: 1px solid rgba(243, 198, 83, 0.7);
  border-radius: 2px;
}

.location__icon {
  padding: 8px;
  width: 20px;
  height: 20px;
  fill: rgba(243, 198, 83, 0.7);
}
.town__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.01em;

  color: #E5E5E5;
}